:root {
	--color-1: #2f3240;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #ffffff;
	min-height: 100vh;
}


/* ul {
	list-style: none;
} */

a {
	text-decoration: none;
}

.container {

	margin: auto;

}

.row {
	display: flex;
	flex-wrap: wrap;

}

.align-items-center {
	align-items: center;
}

.justify-content-between {
	justify-content: space-between;
}

/*header*/
.header {
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
	position: fixed;
	width: 100%;
	z-index: 99;


}

.header .logo,
.header .nav {
	padding: 0 15px;
}

.header .logo a {
	display: none;
	margin-left: 400px;

}

.header .nav ul li {
	display: inline-block;
	margin-left: 40px;
	margin-top: 10px;
}

.header .nav ul li a {
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
	color: #f3a93d;
}

.nav-toggler {
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	display: none;
	margin-right: 15px;
}

.nav-toggler:focus {
	outline: none;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.nav-toggler span {
	height: 2px;
	width: 20px;
	background-color: var(--color-1);
	display: block;
	margin: auto;
	position: relative;
	transition: all 0.3s ease;
}

.nav-toggler.active span {
	background-color: transparent;
}

.nav-toggler span::before,
.nav-toggler span::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}

.nav-toggler span::before {
	transform: translateY(-6px);
}

.nav-toggler.active span::before {
	transform: rotate(45deg);
}

.nav-toggler span::after {
	transform: translateY(6px);
}

.nav-toggler.active span::after {
	transform: rotate(135deg);
}


.hero img {
	border-radius: 10px;
	position: relative;
	margin-top: 30px;
	width: 530px;
}

.hero .satu {
	background-color: #09e2fff9;
	width: 270px;
	height: 260px;
	border-radius: 10px;
	position: absolute;
	z-index: -99;
	top: 130px;
	left: 80px;
}

.hero .tiga {
	background-color: #faf208f9;
	width: 270px;
	height: 260px;
	border-radius: 10px;
	position: absolute;
	z-index: -96;
	bottom: 50px;
	left: 440px;
}

.hero .gambar img {
	position: absolute;
	top: 100px;
	left: 520px;
	width: 270px;
	height: 300px;
	z-index: -90;
}

h3 {
	font-size: 52px;
	/* margin-left: 30px; */
	font-family: DM Serif Display;
	/* margin-top: 60px; */
}



@media(max-width: 576px) {
	.nav-toggler {
		display: block;

	}


	.header .nav {
		width: 100%;
		padding: 0;
		max-height: 0px;
		overflow: hidden;
		visibility: hidden;
		transition: all 0.5s ease;


	}

	.header .nav.open {
		visibility: visible;
	}

	.header .nav ul {
		padding: 12px 15px 0;
		margin-top: 12px;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}

	.header .nav ul li {
		display: block;
		margin: 0;
	}

	.header .logo a {
		font-size: 20px;
		color: #ffffff;
		/* text-transform: capitalize; */
		display: block;
		font-family: DM Serif Display;
	}

	.header .logo a {
		display: block;
		margin-left: 0;
	}

	.hero img {
		width: 100%;
		border-radius: 10px;
		position: relative;
		margin-top: -30px;


	}



	.hero .satu {
		background-color: #fcfc28;
		width: 270px;
		height: 200px;
		border-radius: 10px;
		position: absolute;
		z-index: -99;
		top: 90px;
		right: 2px;
	}

	.hero .dua {
		background-color: #0891af90;
		width: 270px;
		height: 200px;
		border-radius: 10px;
		position: absolute;
		z-index: -99;
		bottom: 460px;
		left: 2px;
	}

	.hero .tiga {
		display: none;
	}

	.hero .gambar img {
		display: none;
	}

	h3 {
		font-weight: bold;
		font-family: DM Serif Display;
		font-size: 32px;
		text-align: center;
		/* bottom: 160px; */
	}




}